<header class="dark sticky">
    <section class="about" class="wrapper-top text-uppercase">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a>เกี่ยวกับเรา</a></li>

                    </ul>
                </div>
                <div class="col-lg-8 text-right">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a>ติดต่อภายในวันจันทร์ - เสาร์ 10:00 - 20:00 น. </a></li>
                        <li class="list-inline-item"><a>สอบถามข้อมูลโทร 091-819XXXX, 084-768XXXX</a>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(0, 0, 0, 0.9);">
        <div class="container">
            <a class="navbar-brand">
                <img src="/images/system/logo1.png" width="100px" height="35px" alt="ADDFIT">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul id="menu-primary" class="navbar-nav ml-auto">
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-64"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-64 nav-item"><a
                            title="หน้าแรก" onclick="goToPage('/home')" class="nav-link">หน้าแรก</a></li>
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-64"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-64 nav-item"><a
                            title="ดัชนีมวลกาย" onclick="goToPage('/bmi')" class="nav-link">ดัชนีมวลกาย</a></li>
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-390"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390 nav-item"><a
                            title="ฟิตเนส" onclick="goToPage('/fitness')" class="nav-link">ฟิตเนส</a></li>
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-390"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390 nav-item"><a
                            title="ตารางการออกกำลังกาย" onclick="goToPage('/exerciser')" class="nav-link">ผู้ออกกำลังกาย</a>
                    </li>
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-390"
                        onclick="goToPage('/profile')"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390 nav-item ml-3">
                        <span>
                            <img id="profileNavbar" style="border-radius: 50%" width="35px" height="35px"
                                src="https://marvel-live.freetls.fastly.net/canvas/2019/3/50a3ff45d2e84675856184b26b09dcc8?quality=95&fake=.png"
                                alt="account">
                        </span>
                    </li>
                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-390"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-390 nav-item"><a
                            title="ตารางการออกกำลังกาย" onclick="removeAuthToken()" class="nav-link">ออกจากระบบ</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</header>