<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
        <title>List of something</title>
        <script src="javascript/global.js"></script>
    </head>
    <style>
        div div div div  :hover {
    
            background-color: rgba(255, 0, 0, 0.63);
                    
        }
        .parallax5 {
            /* The image used */
            background-image: url("https://marvel-live.freetls.fastly.net/canvas/2019/3/e328b067d3a84a678c2afe6df4e44847?quality=95&fake=.png");
            /* Set a specific height */
            min-height: 845px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .about {
            font-size: 17px;
            color: white;
            background-color: rgb(0, 0, 0);
        }

    </style>
    <body>
            <% include ../partials/loader.ejs %>
            <% include ../partials/headSection.ejs %>
            <div class="parallax5" style="text-align: center; color: aliceblue;  ">
                <h1 style="background-color: rgba(0, 0, 0, 0.9);
                    width: 814px max-content;
                    height: 155px max-content; ">เเนะนำท่าการออกกำลังกายในเเต่ละส่วน</h1>
                <h2 style="background-color: rgba(0, 0, 0, 0.63);
                    width: 814px max-content;
                    height: 155px max-content; ">
                    Best Exercises For Upper Body
                </h2>
                <div class="container" style=" font-size: 25px ">
            
                    <div class="row" style="padding-bottom: 70px;">
                        <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                            width: 453px;
                            height: 180px;">
                            Shoulder Muscles
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Front-Dumbbell-Raise.png', '_blank')"
                                class="text-decoration-none" style="font-size: 18px ;text-align: left">
                                Exercise 1: Dumbbell Front Raises.
            
            
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Military-Press.png', '_blank')"
                                class="text-decoration-none" style="font-size: 18px ;text-align: left">
                                Exercise 2: Military Press.
                            </ul>
                        </div>
                        <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                            width: 453px;
                            height: 180px;">
                            Chest Muscles
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Barbell-Bench-Press.png', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 1: Barbell Bench Press.
            
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Flat-Bench-Dumbbell-Fly.png', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 2: Flat Bench Dumbbell Fly.
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Decline-Push-Up.png', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 3: Decline Push-Up.
                            </ul>
                        </div>
                        <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                            width: 453px;
                            height: 180px;
                            ;">
                            Biceps
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Concentration-Curls.png', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 1: Concentration Curls.
            
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Barbell-Curls.png', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 2: Barbell Curls.
            
            
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Chin-Ups.png', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 3: Chin Ups.
                            </ul>
                        </div>
            
            
            
                    </div>
                    <div class="row" style="padding-bottom: 70px;">
                        <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                                width: 453px;
                                height: 180px;">
                            Triceps
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Triceps-Dips.png', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 1: Triceps Dips.
            
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Skull-Crushers.png', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 2: Skull Crushers.
            
            
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Overhead-Dumbbell-Extension.png', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 3: Overhead Dumbbell Extension.
                            </ul>
                        </div>
                        <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                                width: 453px;
                                height: 180px;">
                            Forearms
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Farmers-Walk.jpg', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 1: Farmer’s Walk.
            
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Towel-Pull-Up.jpg', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 2: Towel Pull Up.
            
            
                            </ul>
            
                        </div>
                        <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                                width: 453px;
                                height: 180px;">
                            Upper And Lower Abs
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/abs-plank-knee-to-elbow.jpg', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 1: Spiderman Plank Crunch.
            
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/abs-mountain-climbers.jpg', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 2: Mountain Climbers.
            
            
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/abs-medicine-ball-v-up.jpg', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 3: Medicine Ball V-Up.
                            </ul>
                        </div>
            
                    </div>
                    <div class="row" style="padding-bottom: 70px;">
                        <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                                    width: 453px;
                                    height: 180px;">
                            Side Abs
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/abs-russian-twist.jpg', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 1: Russian Twists.
            
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/abs-wood-chop.jpg', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 2: Wood Chop.
            
            
                            </ul>
            
                        </div>
                        <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                                    width: 453px;
                                    height: 180px;">
                            Upper Back
                            <ul onclick="window.open('https://cdn-xi3mbccdkztvoept8hl.netdna-ssl.com/wp-content/uploads/watermarked/Barbell_Shrug.png', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 1: Barbell Shrugs.
            
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Bent-Over-Lateral-Raise.png', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 2: Bent-Over Lateral Raises.
            
                            </ul>
            
                        </div>
                        <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                                    width: 453px;
                                    height: 180px;">
                            Middle Back
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Lat-Pull-Down.jpg', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 1: Lat Pull-Downs.
            
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Seated-Cable-Row.jpg', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 2: Seated Cable Row.
            
                            </ul>
            
                        </div>
            
            
            
                    </div>
                    <div class="row" style="padding-bottom: 70px;">
            
                        <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                                        width: 453px;
                                        height: 180px;">
                            Lower Back
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Bird-Dog-Exercise.jpg', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 1: Bird Dog.
            
                            </ul>
                            <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Superman-Exercise.jpg', '_blank')"
                                style="font-size: 18px ;text-align: left">
                                Exercise 2: Superman.
            
                            </ul>
                        </div>
            
                    </div><br>
                    <h2 style="background-color: rgba(0, 0, 0, 0.63);
                    width: 814px max-content;
                    height: 155px max-content; ">
                        Best Exercises For Lower Body
                    </h2>
                    <div class="container" style=" font-size: 25px ">
                        <div class="row" style="padding-bottom: 70px;">
                            <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                                width: 453px;
                                height: 180px;">
                                Glutes
                                <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Kettlebell-Swings.jpg', '_blank')"
                                    style="font-size: 18px ;text-align: left">
                                    Exercise 1: Kettlebell Swings.
            
                                </ul>
                                <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Weighted-Glute-Bridge.jpg', '_blank')"
                                    style="font-size: 18px ;text-align: left">
                                    Exercise 2: Weighted Glute Bridge.
            
                                </ul>
                                <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Stiff-Legged-Deadlift.jpg', '_blank')"
                                    style="font-size: 18px ;text-align: left">
                                    Exercise 3: Stiff-Legged Deadlift.
                                </ul>
            
                            </div>
                            <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                                width: 453px;
                                height: 180px;">
                                Quadriceps
                                <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Barbell-Squat.jpg', '_blank')"
                                    style="font-size: 18px ;text-align: left">
                                    Exercise 1: Barbell Squat.
            
                                </ul>
                                <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Leg-Extentions.jpg', '_blank')"
                                    style="font-size: 18px ;text-align: left">
                                    Exercise 2: Leg Extension.
            
            
                                </ul>
                                <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Leg-Press.jpg', '_blank')"
                                    style="font-size: 18px ;text-align: left">
                                    Exercise 3: Leg Press.
                                </ul>
                            </div>
                            <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                                width: 453px;
                                height: 180px;">
                                Hamstring Muscles
                                <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Lying-Leg-Curls.png', '_blank')"
                                    style="font-size: 18px ;text-align: left">
                                    Exercise 1: Lying Leg Curls.
            
                                </ul>
                                <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Romanian-Deadlift.jpg', '_blank')"
                                    style="font-size: 18px ;text-align: left">
                                    Exercise 2: Romanian Deadlift.
            
            
                                </ul>
            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                                width: 453px;
                                height: 180px;">
                                Tibialis Anterior
                                <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/TA-Raises.jpg', '_blank')"
                                    style="font-size: 18px ;text-align: left">
                                    Exercise 1: TA Raises.
                                </ul>
                            </div>
                            <div class="col-sm" style="background-color: rgba(0, 0, 0, 0.63);
                                width: 453px;
                                height: 180px;">
                                Calf
                                <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Standing-Calf-Raise.jpg', '_blank')"
                                    style="font-size: 18px ;text-align: left">
                                    Exercise 1: Standing Calf Raises.
                                </ul>
                                <ul onclick="window.open('https://www.fitneass.com/wp-content/uploads/2015/10/Box-Jump.jpg', '_blank')"
                                    style="font-size: 18px ;text-align: left">
                                    Exercise 2: Box Jump.
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    </body>
</html>