<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
    <title>Home</title>
    <script src="javascript/global.js"></script>

    <style>
        .parallax1 {
            /* The image used */
            background-image: url("https://marvel-live.freetls.fastly.net/canvas/2019/3/45e32e8de4794ac284b7824e458b784d?quality=95&fake=.png");
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax2 {
            /* The image used */
            background-image: url("https://marvel-live.freetls.fastly.net/canvas/2019/3/f4fc14786e3c49568817289d9479cb19?quality=95&fake=.png");
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .parallax3 {
            /* The image used */
            background-image: url("https://marvel-live.freetls.fastly.net/canvas/2019/3/adac4c41221f49c0989ba39a41ac9071?quality=95&fake=.png");
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        .about {
            font-size: 17px;
            color: white;
            background-color: rgb(0, 0, 0);
        }
    </style>
</head>

<body>
    <% include ../partials/loader.ejs %>
    <% include ../partials/headSection.ejs %>
    
    <div class="parallax1"></div>
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <h3 style="text-align:center;"><strong>ทำไมจึงต้องออกกำลังกาย</strong> ?</h3>
        <p style="text-align:center;">การป้องกันเสริมสร้างสุขภาพ เป็นวิธีการที่ดีที่สุด
            สำหรับการดูแลสุขภาพ เพราะได้ผลและประหยัดที่สุด สุขภาพที่ดี คือ ดีทั้งทางกาย และใจ
            ขณะนี้สาเหตุการตายของประชาชนในประเทศที่พัฒนาแล้ว ได้เปลี่ยนจากโรคติดเชื้อ เป็นโรคที่ไม่ติดเชื้อ
            และจากพฤติกรรมของมนุษย์ เช่น การสูบบุหรี่ ดื่มสุรา ยาเสพย์ติด เพศสัมพันธ์ที่ไม่เหมาะสม ฯลฯ
            คนเราทุกคนจะต้องแก่ เจ็บ และตายทุกคน แต่ในปัจจุบันนี้เราสามารถป้องกันโรคได้หลายโรค ฉะนั้น
            จึงควรแก่อย่างมีคุณภาพ และไม่ควรเสียชีวิตจากโรคที่ป้องกันได้
        </p>
    </div>
    
    
    
    <div class="parallax2"></div>
    <div class="mx-auto text-center"
        style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <h3 style="text-align:center;">ดัชนีมวลกาย</h3>
        <p style="text-align:center;">ค่า BMI คือค่าดัชนีที่ใช้ชี้วัดความสมดุลของน้ำหนักตัว และส่วนสูง
            ซึ่งสามารถระบุได้ว่า ตอนนี้รูปร่างของคนคนนั้นอยู่ในระดับใด ตั้งแต่อ้วนมากไปจนถึงผอมเกินไป
        </p>
        <button onclick="goToPage('/bmi')" type="button" style="width: 400px; text-align: auto;"
            class="btn btn-info">คำนวณตอนนี้</button>
    </div>
    
    
    
    <div class="parallax3"></div>
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
        <h3 style="text-align:center;"><strong>ควรออกกำลังกายหนักแค่ไหน ?
            </strong> </h3>
        <p style="text-align:center;">ในการออกกำลังกายแต่ละครั้ง ถ้าจะให้ได้ประโยชน์ต่อหัวใจ
            และปอดจะต้องออกกำลังกายให้หัวใจ (หรือชีพจร) เต้นระหว่าง 60-80% ของความสามารถสูงสุดที่หัวใจของคน ๆ
            นั้นจะเต้นได้
    
            สูตร ความสามารถสูงสุดที่หัวใจจะเต้นได้ = 220 - อายุเป็นปี
    
            ตัวอย่าง คนที่มีอายุ 50 ปี มีความสามารถสูงสุดที่หัวใจจะเต้นได้คือ 220-50 = 170 ครั้งต่อนาที
    
            ดังนั้นสำหรับคนที่มีอายุ 50 ปี ควรออกกำลังเพื่อให้ชีพจรเต้นเพียงระหว่าง 60-80% ของ 170 ครั้งต่อนาที กล่าวคือ
            ระหว่าง 10-2136 ครั้งต่อนาที
    
            แต่ถ้าไม่เคยออกกำลังกายมาก่อน ต้องค่อย ๆ ทำ อาจใช้เวลา 2-3 เดือน ก่อนทีจะออกกำลังกายให้ชีพจรเต้นได้ถึง 60%
            ของความสามารถสูงสุดที่หัวใจจะเต้นได้ แต่ในทางปฏิบัติการวัดชีจรในขณะที่ออกกำลังกาย
            ถ้าไม่มีเครื่องมือช่วยวัดจะทำได้โดยยากสำหรับประชาชนทั่วไป ฉะนั้นจึงไม่จำเป็นต้องวัดชีพจร
            แต่ออกกำลังกายให้รู้สึกว่าเหนื่อยนิดหน่อย พอมีเหงื่อออก หรือยังสามารถพูดคุยระหว่างการออกกำลังกายได้
            ถ้าอยากวัดจริง ๆ อาจใช้วิธีถีบจักรยานอยู่กับที่เพราะจักรยานส่วนใหญ่จะมีที่วัดชีพจร
        </p>
    </div>
</body>

</html>