<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">

    <% include ../partials/head.ejs %>
    <script src="javascript/global.js"></script>
    <script src="javascript/index.js"></script>
    <title>Index</title>
        <style>
            h1 {
                color: #FFFFFF;
                font-size: 90px;
                font-weight: 700;
                line-height: 117px;
                width: 666px;
        
            }
        
            h2 {
                color: #FFFFFF;
                font-size: 45px;
                font-weight: 400;
                line-height: 58px;
        
            }
        
            body {
                background-image: url("https://marvel-live.freetls.fastly.net/canvas/2019/3/06ae5acae7ca47e5aded242d046c158d?quality=95&fake=.png");
                background-color: rgba(0, 0, 0, 0.2);
                font-family: 'Kanit';
            }
        </style>
</head>

<body>
    <% include ../partials/loader.ejs %>

    <h1 style="text-align:center;padding:50px 70px;text-align: justify;">ยินดีต้อนรับ,</h1>
    <h2 style="text-align:center;padding:0px 70px;text-align: justify;">ผู้ออกกำลังกายทุกคน</h2><br><br><br>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="goToPage('/register')"
                    style="width: 100% "> สมัครสมาชิก</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="goToPage('/login')"
                    style="width: 100% ">เข้าสู่ระบบ</button>
            </div>
        </div>
    </div>

</body>

</html>